


body {
	
	background-color: black;
}

.mySlides{
	width: 100%;
	height: 100%;
}


h1 {
	font-size: 40px;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}


ul {
	text-align: left;
	text-decoration: none;
	list-style-type: none;
	
}

a:hover {
	
	color: #FF0000;
	text-decoration: none;
	
}

.floatleft { float: left;
			  padding-left: 5%;
			  padding-right: 0%;

}
.floatright { float: right;
			  padding-left: 5%;
			  padding-right: 0%;

}

p {
	text-align: left;
	font-size: 16px;
	
}

li {
	text-align: left;

	
}

table {
    
    border-collapse: collapse;
    width: 80%;
	text-align: center;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

button {
	height: 80px;
	width: 100%;
	background: white;
	border: none;
	text-align: left;
	padding-left: 0px;
}
button:hover{
	
	background: lightgray;
	
}

button:focus {
	
	outline: 0px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    min-width: 200px;
    float:left;
    margin: 10px;
    
    background-color: #DB504A;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardcontainer {
    padding: 5px;
    background-color: whitesmoke;
    
}


.clear {
    clear: both;
}



.inlineBlock {
	
	display: inline-block;
	
}


.hiddenrow{
	
	border:1px solid black;
	
}

.Front{
	
	
}

.Navbar{
	
	margin-top: 10%;
	
	
}

.ResourceMain {
	
	background-color: white ;
	color: black;
	font-family: 'Roboto', sans-serif;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 10px;
	padding-bottom: 10%;
	
}

.ResourceMainH2 {
	
	
	padding-left: 0px;
	
	
	
}

.ResourceMainP {
	
	padding-left: 0px;
	/*background-color: lightgray;*/
	
}

.miniNavbar {
	
	background-color: black;
	color: white;
	
}


.vid-container {
    position: relative;
    padding-bottom: 300px;;
	padding-left: 0%;
	padding-right: 0%;
	height: 100px;
	
	
    padding-top: 35px;
	left: 0px;
	

	
	background: #F40D11;
	
	
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
    position: absolute;
    top: 0;
    left: 0%;
 width: 100%;
	height: 100%;
	
	padding-left: 0%;
	padding-bottom: 0px;
	
		background: blue;
	
	
	
}



iframe {
	

	text-align: center; 
}



#About{
	grid-area:main;
	background-color:  black/*#DBDBDB*/;
	color: white;
	padding: 10px;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 16px;
	
	
}

#Events{
	
	padding: 10%;
	padding-bottom: 30px;

	
	
	
}



#Contact{}


#headlogo {
	grid-area: header;
	background-color: black;
	color: white;
    background-repeat:no-repeat;
    background-size:cover;
	font-size: 30px;
	height: 500px;
	

}
.blank1 { grid-area: blankleft;  }
.maincontent { grid-area: main; }
.blank2 { grid-area: blankright; }
.footer { grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'blankleft footer footer footer footer blankright';
  grid-gap: 0px;
  grid-template-columns: 10% auto auto auto auto 10%;
  grid-template-rows: 50% 25% 25%;
  font-size: 16px;
  background-color: #FFFFFF;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}



.grid-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}


/* Social Media Buttons */
.fame {
  padding: 20px;
  font-size: 2em;
  	
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
	
  width: 50px;

  
}

.fame:hover {
    opacity: 0.7;
	color: white;
}

.facebook {
  width:50px;
  height: 50px;
  background: #3B5998;
  color: white;
}



.youtube-play {
  background: #bb0000;
  color: white;
}

.discord {
	color:white;
	background: #7289DA;
	
	
}

.centerpara {
	
	text-align: center;
	
}



.fa-reddit {
  background: #ff5700;
  color: white;
}





.arright {
	
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}

#Unity, #UnityB, #UnityU, #UnityA, #UnityAI, #UnityMP, #UnityRG {
	
	display: none;
	
}

.arleft {
	
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
-webkit-transform: rotate(135deg);
transform: rotate(135deg);
}

hr {
	
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.ardown {
	
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
	-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}



