@charset "utf-8";
/* CSS Document */

body {
	background-color: black;
	margin-left: 0px;
}

.navbar-header {
    margin-top: 10px;
    margin-bottom: 10px; 
}

nav {
position: fixed !important;
width: 100%;
}

.slideselect {
    border:10px solid black;
}
@media only screen and (max-width: 768px) {
.navbar-brand {
    width: 80%;
    margin: 0%;
    margin-left: 10%;
}
}

.navbar {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    background-color:black;
    text-align: center;
    border: none;
    color: white;
    z-index: 99 !important;
}

.navbar img {
margin-top: 10px;
/*float:left;*/

}

.float_left{
float: left;

}

table {    
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    max-width: 800px;
}



td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}


.navbar button {
    font-family: 'Do Hyeon', sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 30px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    background-color: black;
    
}

.largeimage {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-collapse{
margin-top: 10px;
border: none !important;
}

.float_right {
    float: right;
}



.navbar a {
    color: white !important;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
    background-color: darkgrey !important;
}

ul.nav li.active a {
    color: white !important;
}

.navbar img {
height: 50px;
padding: 10px;
}


/* Main content */
.main {
    padding: 30px;
    padding-top: 30px;
    /*padding-top: 100px; Add a top margin to avoid content overlay */
    background: white;
    font-family: 'Roboto', sans-serif;
}


.main a {
    text-decoration: underline;
    color: black;
    font-weight: 400;
}

.mySlides {
    display:none;
    width:100%;
    padding: 0px;
    max-width: 1000px;
    
}

.card50{
    margin: auto;
    width: 50%;
    min-width: 400px;
    float: left;
    padding: 10px;
    vertical-align: middle;
}

.card50 img {
    margin: auto;
    margin-top: 10px;
    height: 100%;
    max-height: 50vh;
}





.card100{
margin-top: 5px;
    float: left;
    width: 100%
}

@media only screen and (max-width: 860px) {
    .card50 {
        float: none;
    }
}

.imagerow {
    width: 100%;
    max-width: 1000px;
    
    
    background-color: black;
}

.imgbutton{
    width: 100%;
    min-height: 100% !important;
    height: 100%;
    cursor:pointer
}

.breakarea {
padding: 0px;
margin:0px;
padding-top: 50px;
}


 #navarea {
    z-index: 99;
 } 

 #videowrapper {
    font-family: 'Press Start 2P', cursive;
    position: relative;
    width: 100%;
    padding: 0px;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    background-color: black;
}

#videowrapper button {
    position: absolute;
    background-color: rgba(168, 24, 24,1); /* Green */
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    width: 200px;
    top: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    color: white;  
    z-index: 67;
}


.genericbutton{
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(168, 24, 24,1); /* Green */
    border: none;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    width: 200px;
    display: inline-block;
    text-align: center;
    color: white;  
}

#videowrapper img {
    position: absolute; 
    top: 50%;
    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    color: white;
    z-index: 67;
}

.darkimage {
    position:absolute;
    width:100%;
    margin: 0px;
    height: 100vh;
    padding: 0px;
    z-index: 5;
}

#videowrapper h1 {
    position: absolute; 
    font-size: 40px;
    top: 55%;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    z-index: 67;
}

.buttontest1 {
    margin-top: 25px;
    z-index: 65;
}

.buttontest2 {
    margin-top: 100px;
    z-index: 65;
}





@media only screen and (max-width: 1000px) {
    

}


video {
    min-height: 100%;
    z-index: 2;
    min-width: 100vw;   
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        margin-top: 0px;
    }


    
    #videowrapper {
        align-content: center;
    }


    video {
        height: 100vh;
        z-index: 2;
        min-width: 100vw;
        
    }
    

    .float_right{
        float: none;
    }
    
    .largeimage{
        max-width: 100%;
    }
    nav {
        position:inherit !important;
        z-index: 99 !important;
    }

    .main h1 {
        text-align: center;
    }

    #videowrapper img {
        position: absolute; 
        top: 30%;
        margin-top: -150px;
        width:150px;
    }
    
    #videowrapper h1 {
        position: absolute; 
        font-size: 40px;
        top: 30%;
        margin-top: -50px;
        font-size: 30px;
    }
        
    .buttontest1 {
      top: 30%;
        margin-top: -70px;
    }
    
    .buttontest2 {
    margin-top: -10px;
    top:30%;
    }

    #videowrapper button {
        top: 50%;
    }
}



@media only screen and (max-width: 1200px) { }

@media only screen and (max-width: 910px) {
   .breakarea{padding-top: 100px;}
   .float_right{
    float: left;
   }
}

@media only screen and (max-width: 768px) {
    .main {
       padding-top: 20px;
   }  
   .breakarea{padding-top: 0px;}
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        width: 80%;
        margin: 0%;
        margin-left: 10% 
    }
    .float_right{
float: none;
    }
    .breakarea {padding-top: 0px;}
}

#footer {
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 200px;
}

.main h1, .main h2, .main h3 {
    font-family: 'Press Start 2P', cursive;
    color: black;
}

.main p {
    font-family: Arial, Helvetica, sans-serif;
}

.gamemain {
    overflow: auto;
}

/*CARD*/
.card {
    float: left; 
    text-align: center;
    border: 5px;
    border-style: solid;
    min-width: 300px;
    width: 30%;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.card p{
    color: white;
}

.card img {
    width:100%;
    padding: 0px;
    margin: 0px;
}

.text a {
    color: white;
    text-decoration: none;
}
.text a:hover {
    text-decoration: underline;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.card30 {
position: relative;
    margin: auto;
    padding: 0px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    padding: 10px;
    min-height:300px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.card30 button {
    padding: 0px;
    margin: 0px;
    float: none;
    position: inherit;
}

.card30 h3{
    color: white;
}



.card60{
    margin: auto;
    background-color:pink;
    width: 60%;
    min-width: 500px;
    float: left;
    padding: 10px;
    vertical-align: middle;
}


ul {
    margin: 0;
    text-align: left;
    font-size: 12px;
   
  }
  
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    font-size: 20px;
    text-indent: -5px;
    margin-top: 5px;
  }
  ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
  }

  .maintile{
    color: white;
    text-align: center;
    width: 300px;

}

.maintile h3 {
    color: white;
}

#nmeeting {
    padding-top: 10px;
font-size: 20px;
}

.eventimage{
    
    
    
}

.eventimage img {

    width: 300px;
    height: 200px;
    
}



@media only screen and (max-width: 768px) {

    .eventimage {
    float: none !important;
    
    }

    .eventimage img {
        display: block !important;
        float: none !important;
    
    }

}

.plainbutton {
border: none;
overflow: auto;
background-color: white;

}